<h3 align="center">Do you wish to join this collaboration?</h3><br />
<h2 align="center"><font color="green"><%= @collaboration.team_name %></font></h2>
<h4 align="center"><font color="red"><%= "\"" + @collaboration.purpose + "\"" %></font></h4>
<br /><br /><br /><br />
<div align="center">
  <div class="btn btn-primary"><%= link_to("Yes", :controller => "collaboration_joins", :action => "update_collaboration", :id => @collaboration ) %></div>
  <%= link_to("No", collaboration_joins_path, class: "btn btn-warning") %>
</div>
