<h1><%= "Hello #{@student.user_name} !"%> Welcome to DraftUP!</h1>
<br>
<h2>Here are your details:</h2><br>
<p><%= "Name: #{@student.first_name} #{@student.last_name}"%></p>
<p><%= "Student Number: #{@student.student_number}"%>
<br /><br /><br /><br /><br /><br /><br />
