<h1>This is menu: where the theses are going to come out! <%= "Hello #{@student.first_name} #{@student.last_name}!"%> Welcome to DraftUP!</h1>
<p>Awesome bootstrap activated</p>
<p>TODO: remind front-end to design the main menu</p>
<p> This is stuff that the user wants to manage.</p>
<p> For example, THESES!!! </p>
<%= link_to("Logout", access_logout_path) %>
<%= link_to("My Theses", theses_path) %>
<%= link_to("My Collaborations", collaborations_path) %>
