<h1>Index route</h1>
<p>Welcome to DraftUP, your ever friendly thesis-assistance web application!</p> <br >

<%= link_to('Sign up for DraftUP!', new_student_path) %>
<%= link_to('Login To Account', access_menu_path, :class => 'attempt login') %>

<%= image_tag('logosample.png', :size => '500x500' , :alt => 'DraftUP Logo') %>
