<div align="center"><%= link_to("<< Collaborations", collaborations_path, :class => 'btn btn-success') %><br /><br /></div>

<div container="collaborations delete">
  <h1 align="center">Delete Collaboration</h1><br />
  <%= form_for(@collaboration, :url => collaboration_path(@collaboration), :method => 'delete') do |f| %>
    <p align="center">Are you sure you want to permanently delete this collaboration?</p>
    <h3 class="reference-name", align="center"><%= "\"" + f.object.team_name + "\"" %></h3><br />
    <div align="center"><%= f.submit("Delete Collaboration", class: "btn btn-danger") %></div>
  <% end %>
</div>
