<h1>This is collaborations</h1>

<table class="table table-bordered table-striped">
  <tr class="header">
    <th>#</th>
    <th>Team Name</th>
    <th>Members</th>
  </tr>

  <tr>
    <td><%= @collaboration.team_name %></td>
    <td><%= @collaboration.collaborator.students %></td>
  </tr>
</table>
